body{
    background-color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color:rgb(150, 6, 216);
    color:white;
    margin: 10px;
    padding:10px;
    text-align:center;
    border-radius: 10px;
    font-size: 30px;
}

#clock{
    background-color:white;
    color:red;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight:bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

#btn{
    display: flex;
    justify-content: center;
}

#stop{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border:none;
    outline: none;
    font-size:17px;
    background-color:rgb(150, 6, 216);
    color:white;
    cursor: pointer;
    transition:background-color 500ms;
}

#stop:hover{
    background-color:rgb(119, 6, 172);
}

form{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.quest{
    background-color:white;
    padding:20px;
    border-radius: 10px;
    width:700px;
    margin: 5px;
}